* {
 padding: 0px;
 margin: 0px;
 }

 body{
  background-color: #050F4E;
 }
/* Header */
 .header{
  display: flex;
  margin: 57px 116px 57px 196px;
  color: #FFF;
 }

 .left-side{
  margin-right: auto;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 27.5px; /* 137.5% */
  text-transform: uppercase;
 }

 .right-side a{
  text-decoration: none;
  color: #FFF;
  margin: 0px 77px;
 }

 .right-side > ul{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.5px; /* 137.5% */
 }

/* BACKGROUND ITEMS*/

#blur-layer-one{
 border-radius: 50%;
 position: fixed;
 width:100%; 
 height: 100%;
 top: -30%;
 left: 9%;
 filter: blur(130px);
 background: linear-gradient(to right, rgba(128, 128, 215, 0.43), rgba(255, 255, 255, 0.0));
 z-index: -1;
}

#blur-layer-two{
 border-radius: 50%;
 position: fixed;
 top: 40%;
 left: 70%;
 filter: blur(130px);
 background: linear-gradient(to right, rgba(170, 217, 217, 0.43), rgba(255, 255, 255, 0.0));
 z-index: -1;
 overflow:hidden;
}

 /* FIRST CONTENT */
.firstContent{
 margin: 0px 116px 57px 196px;
}

#firstContentOne{
 display: flex;
 align-items: center;
 color: #FFF;
}

#icon_pc{
 padding-right: 80px;
}
.content-text.a>h1{
font-family: outfit;
font-size: 140PX;
font-weight: bold;
text-align: left;
}

.content-text.a>p{
 font-family: Roboto;
 font-size: 18px;
 font-weight: regular;
 padding: 30px 0px 30px 0px;
 }

 .button-session{
  font-family: outfit;
  font-weight: bold;
  font-size: 20px;
 }

 #buy-nft,
 #sell-nft{
	color: #FFF;
	border-radius: 40px;
	padding: 30px 80px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#buy-nft{
 background: #8080D7;
 border: none;
}

#sell-nft{
 background: none;
 border-color: #FFF;
}

/* SECOND CONTENT */

#featured{
 font-family: outfit;
 color: #FFF;
 font-weight: bold;
 padding: 27.5px 0 0 0;
 margin: 0 116px 0 196px;
}

.secondContent{
 display: flex;
 background-color: rgba(128, 128, 215,.43);
 padding: 50px 0;
 margin: 0 116px 0 196px;
 border-radius: 10px;
 justify-content: space-around;
 align-items: center;
}

.secondContent>img{
 max-height: 100%; 
 max-width: 25%;
 object-fit: contain;
}

/*THIRD CONTENT*/

.thirdContent{ 
 display: flex;
 align-items: center;
 color: #FFF;
 margin: 104px 116px 57px 196px;
}

#thirdContentOne{
 display: block;
}

#icon_bx{
 padding-right: 80px;
}

.content-text.b>h1{
font-family: outfit;
font-size: 120px;
font-weight: bold;
text-align: left;
}

.content-text.b>p{
 font-family: Roboto;
 font-size: 18px;
 font-weight: regular;
 padding: 30px 0px 30px 0px;
 }

.thirdContent #viewPrice{
 font-family: outfit;
 font-weight: bold;
 font-size: 20px;
}

#viewPrice{
	color: #FFF;
	border-radius: 40px;
	padding: 30px 80px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
 background: #8080D7;
 border: none;
}

/* FOUR CONTENT */

.fourContent{ 
 display: flex;
 align-items: center;
 color: #FFF;
 margin: 104px 116px 57px 196px;
}

#fourContentOne{
 display: block;
}

#icon_cell{
 padding-right: 80px;
}

.content-text.c>h1{
font-family: outfit;
font-size: 120px;
font-weight: bold;
text-align: left;
}

.content-text.c>p{
 font-family: Roboto;
 font-size: 18px;
 font-weight: regular;
 padding: 30px 0px 30px 0px;
 }

.fourContent #download{
 font-family: outfit;
 font-weight: bold;
 font-size: 20px;
}

#download{
	color: #FFF;
	border-radius: 40px;
	padding: 30px 80px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
 background: #8080D7;
 border: none;
}
