* {
 padding: 0px;
 margin: 0px;
 }

 body{
  background-color: #050F4E;
 }
/* Header */
 .header{
  display: flex;
  margin: 57px 116px 57px 196px;
  color: #FFF;
 }

 .left-side{
  margin-right: auto;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 27.5px; /* 137.5% */
  text-transform: uppercase;
 }

 .right-side a{
  text-decoration: none;
  color: #FFF;
  margin: 0px 77px;
 }

 .right-side > ul{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.5px; /* 137.5% */
 }

/* BACKGROUND ITEMS*/

#blur-layer-one{
 border-radius: 50%;
 position: fixed;
 width:100%; 
 height: 100%;
 top: -30%;
 left: 9%;
 filter: blur(130px);
 background: linear-gradient(to right, rgba(128, 128, 215, 0.43), rgba(255, 255, 255, 0.0));
 z-index: -1;
}

#blur-layer-two{
 border-radius: 50%;
 position: fixed;
 top: 40%;
 left: 70%;
 filter: blur(130px);
 background: linear-gradient(to right, rgba(170, 217, 217, 0.43), rgba(255, 255, 255, 0.0));
 z-index: -1;
 overflow:hidden;
}

 /* FIRST CONTENT */
