* {
 padding: 0px;
 margin: 0px;
 background-color: #050F4E;
 }

/* Header */
 .header{
  display: flex;
  margin: 57px 116px 57px 196px;
  color: #FFF;
 }

 .left-side{
  margin-right: auto;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 27.5px; /* 137.5% */
  text-transform: uppercase;
 }

 .right-side a{
  text-decoration: none;
  color: #FFF;
  margin: 0px 77px;
 }

 .right-side > ul{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.5px; /* 137.5% */
 }

/* BACKGROUND ITEMS*/
 /* FIRST CONTENT */
